* {
    box-sizing: border-box;
}
body {
	align-items: center;
	background: #f7f7f7 !important; 
}
#form {
	border-radius: 10px;
    margin: auto auto auto auto;
    color: solid black;
    
}
#loginButton_0{
    background:#519387;
    text-transform: uppercase;
}

#botoes{

	color: red;
}
